
header {
	nav {
	    font-size: 2.0em;
	    line-height: 1.0em;
	    color: white;
	    width:7em;
	    height: 9.0em;
	    position:absolute;
	    top:0; bottom:0;
	    margin:auto;
	    left: -4.5em;
	}
	nav ul {
		position: relative;
		bottom: 200px;
	    list-style: none;
	    margin: 0;
	    padding: 0;
	}
	nav ul li {
		font-family: 'Anonymous Pro', ;
	    background-color: blue;
	    height: 47px;
	    padding: 10px;
	    position: relative;
	    -webkit-transition: -webkit-transform 500ms, background-color 500ms, color 500ms;
	    transition: transform 500ms, background-color 500ms, color 500ms;
	}
	.grey1{
		background: #383838;
		width: 400px;
		a{
			text-decoration: none;
		}
	}
	.grey2{
		background: #515151;
		width: 500px;
		a{
			text-decoration: none;
		}
	}
	.grey3{
		background: #737373;
		width: 600px;
		a{
			text-decoration: none;
		}
	}
	.grey4{
		background: #7C7C7C;
		width: 700px;
		a{
			text-decoration: none;
		}
	}
	.grey5{
		background: #ADADAD;
		width: 800px;
		a{
			text-decoration: none;
		}
	}
	a :hover{
		color: #000;
	}
	nav ul li:hover {
	    background-color: #B2B2B2;
	    -webkit-transform: translateX(4.5em);
	    transform: translateX(4.5em);
	}

	nav ul li span {
	    display:block;
	    font-family: Socialico;
	    position: absolute;
	    font-size:1.5em;
	    line-height: 1.25em;
	    height:1.0em;
	    top:0; bottom:0;
	    margin:auto;
	    right: 0.16666666666667em;
	    color: #F8F6FF;
	}
}

